# Discord Bot Configuration
DISCORD_BOT_TOKEN=MTQ0MjE5NzMxMTcyNzA3NTM2OQ.GXX-Uj.IdwtrNDPuuw6wcXHXj1KjLPguNDZ3ZHwQQtxn0

# Database
MONGODB_URI=mongodb://localhost:27017

# Environment
ENVIRONMENT=development
